<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <a class="navbar-brand bigger-robot-font" href="/">(little) Robot World</a>
    <ul class="nav navbar-nav navbar-right robot-font">
      <li><a href="/robots">All the Robots</a></li>
      <li><a href="/robots/new">New Robot(a)</a></li>
    </ul>
  </div>
</nav>

<% @robots.each do |robot| %>
  <div class="col-md-6 well">
    <div class = "row">
      <div class = "col-md-6">
        <a href="/robots/<%= robot.id %>"><img src="<%= robot.avatar %>" class="img-responsive"></a>
      </div>
      <div class = "col-md-6">
        <p class = "robot-font-med">
          ID: <%= robot.id.to_s.rjust(6,'0') %><br>
          Birthdate: <%= robot.birthdate.strftime("%b %d, %Y")%><br>
          <%= robot.city %>, <%= robot.state %><br>
          <br>
          Department: <%= robot.department %><br>
          Date Hired: <%= robot.date_hired.strftime("%b %d, %Y")%>
        </p>
        <br>
      </div>
    </div>
    <div class = "row">
      <div class = "col-md-6 text-center">
        <h3 class = "robot-font-bold"><%= robot.name %> </h3>
      </div>
      <div class = "col-md-6 text-center">
        <h3>
        <a href="/robots/<%= robot.id %>/edit"><button type="button" class="btn btn-primary">Edit</button></a>
        <form action = "/robots/<%= robot.id %>" method = "POST">
          <input type="hidden" name="_method" value="delete">
          <button type="submit" class="btn btn-danger">Delete</button>
        </form>
        </h3>
      </div>
    </div>
  </div>
<% end %>
